H1{font-family: veranda; font-weight: normal;font-size: 50px; text-underline-position: center; font-family: verdana}
body{background-color: black; text-align: center; font-family: verdana; color: white;}
h3{font-size: 16px; color: Aquamarine;}
h2{font-weight: 300; font-size: 42px}
h4{text-align: right; color: gray; font-family: verdana; font-size: 21px; font-weight: lighter;}
p{font-size: 21px; color: gray}
